.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.card__container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 15px;
}

.buttons {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
}
