.button {

display: flex;
justify-content: center;
align-items: center;
border-radius: 100px;
box-shadow: none;
border: none;
background-color: rgba(100, 78, 69, 1);
color: white;
font-size: 40px;
width: 350px;
height: 120px;
}
.wrapper {
	display: flex;
	align-items: center;
	margin-left: 100px;
}
