.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 278px;
  margin-left: 160px;
  margin-right: 160px;
  position: relative;
}

.arrow {
  position: absolute;
  top: 45%;
  left: -64px;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 2;
}

.arrowRight {
  transform: rotate(180deg);
  left: auto;
  right: -64px;
}

.slider {
  width: 100%;
}

.slide {
  display: flex;
  height: 886px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 80px 80px;
  border: 6px solid #fcbd59;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
  transform: translate(0, 50%);
  filter: brightness(50%);
}

.image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(50%);
}

.bottom {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
  font-family: 'Calibrib', sans-serif;
  line-height: 0.8;
  letter-spacing: 5px;
}

.title {
  margin-bottom: 15px;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.subtitle {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: bold;
  color: white;
}

.detail {
  background: #640001;
  color: white;
  border: none;
  padding: 30px 50px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 50px;
  font-weight: bold;
}
