.container {
  display: flex;
  align-items: center;
  justify-content: center;
  //   max-width: 1200px;
  margin: 0 auto;
}

.arrow {
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.slider {
  width: 100%;
}

.slide {
  display: flex;
  height: 886px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 6px solid #fcbd59;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.detail {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
