* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0; /* Ширина скроллбара */
    height: 0; /* Высота скроллбара */
    background: transparent; /* Прозрачный фон */
  }
}

@font-face {
  font-family: 'Calibri';
  src: local('Calibri'), url('./calibri42/calibri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibrib';
  src: local('Calibrib'), url('./calibri42/calibrib.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Calibri', sans-serif;
  background-image: url('../../public/img/heroBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#root {
  height: 100%;
  overflow: hidden;
}
